
.lesson-container {
    display: flex;
    flex-direction: column;
}

.homework-container {
    display: flex;
    flex-direction: column;
}

main {
    padding: 0px 30px;
}
h1{
    color: rgb(61, 47, 255);
}
a {
  text-decoration: none;
  color: black;
}
a:hover{
    text-decoration: underline;
    color: rgb(95, 212, 17);
}